.jumbotron {
	background-image: url(v576L3f.jpg);
	height: 100vh;

	margin: 0;
	padding: 0;
}  

button {

	position: absolute;
	height: 60px;
	width: 110px;
	background-color: #222222;
	border: 0px;
	bottom: 0;
	right: 95px;

}

button > i {
	color: white;}

nav {
	position: absolute;
	right: 100px;
	background-color: black;
}

.nav  { border: 0px; background-color: #222222; position: absolute; top: 100%; right: 5%; width: 110px; z-index: 999; }
.nav .navbar-collapse { padding: 0px; max-height: none; }
.nav .navbar-nav { float: none; }

.nav > li { display: block; float: none; height: 80px; } 
.nav > li a { display: block;  height: 80px; text-align: center; padding-top: 30px; font-weight: 600; color: #FFFFFF; }
.nav > li a:hover, .navbar .nav > li a:focus { color: #999999; }


.fixed .nav  { position: fixed; top: 60px; }

.sticky {
	 position: sticky;
    top: 40px;
}




.profile {
	padding: 5% 20% 5% 20%;

	display: inline-flex;
}

.prof-title {
	margin-top: 5%;
}



.about-me {
	width: 30%;
	margin-right: 5%;
}

.details {
	width: 30%;
	margin-left: 5%;
}

.details > ul {
	margin-left:10px;
}

.profile-pic {
	width: 30%;
	
}
.profile-pic > img {
	width: 300px;
	border-radius: 50%;
	
}

#Experiences-section {
	background: #F3EFE0;
}

.exp-title {
	padding-top: 100px;
	margin-bottom: 10%;
}

.exp-item {
	display: inline-flex;
	padding: 0 20% 5% 20%;

}

.item-title {
	width: 400px;
	padding-right: 15%;
}


.dont-collapse-sm {
	display:hidden;
}


@media (max-width: 767px) { 
		.nav {
			width: 100%;
			right: 0;
		}

		#scrollbutton {
			bottom: 0;	
			margin: auto;
			display:none;
		}

		
	}
	