* {
  margin: 0;
  font-family: 'Crimson Text';
  font-size: 22px;
}

ul {
  list-style: none;
  padding-left: 0;
}


h1 {
  font-size: 1.8em;
  color:#85CDCA;
  margin-bottom: 15px;
}

h4 {
  color:#85CDCA;
  font-size: 1.2em;
}

p {
  color: #464646;
}


#header {
  background-color: #7DC2AD;
}



#header > a {
  width: 110px; 
  border-radius: 5% 5% 0 0;
  background-color: #E27D5F;
  position: absolute;
  right: 5%;
  bottom: 0px;
  text-align: center;
}

#header > a > img {
  height: 50px;
  color: white;

}

#header > div {
  align-self: center;
}

.myname {
  font-size: 6em;
  color: white;
  
}




.topnav {
  position: relative;
  background-color: #80C7B9;
  float: right;
  right: 5%; 
  width: 110px;	

}


.topnav a {
  
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: white;
  color: black;
}


.active {
  background-color: #85CDCA;
  color: white;
}


.topnav .icon {
  display: none;
}


.sticky {
	position: sticky;
	top: 40px;
	float: right;
}


section {
  height: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
}


.experience, .projects {
  background-color: #F3EFE0;
}

.projects > .box-container > .box30 {
  justify-content:  center;
  margin-bottom: 5%;
}

.star {
  color: grey;
}

.starsmargin {
  margin-left: 50%;
}

.filled{
  color: turquoise;
}

.title {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-bottom: 3%;
  margin-top:3%;
}

.box-container {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}



.box15 > p {
  width: 50px;
   
}


.box20 {
  /*background-color: grey;*/
  width: 20%;
  
  
}

.box40 {
  /*background-color: yellow;*/
  width: 40%;
}

.box30 {
  /*background-color: yellow;*/
  width: 30%;
  display: inline-flex;
}


.profpic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 30%;
  border: 1px solid #66FCF1;
}


footer {
    height: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #434242;

}

footer > div > p {
  color: white;
}

/*====================== MEDIA QUERIES ==============================*/
@media screen and (min-width: 600px) {
#header {
  height: 100vh;
}

#header > div {
  align-self: center;
}

}

@media screen and (max-width: 800px)  {

header {
  height: 91vh;
}

#header > a {
  padding:0;
  width: 110px; 
  border-radius: 5% 5% 0 0;
  background-color: #E27D5F;
  position: absolute;
  right: 0px;
  bottom: 0px;
  text-align: center;
  
}

#header > div {
 
 align-self: center;
 vertical-align: center;
}


.myname {
  font-size: 3em;
}

.topnav {
  right:0;
  top: 0;
  width: 100%;
  background-color: #202833;
}

.topnav a {
  
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: sticky;}
    .topnav.responsive .icon {
      float: right;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }


.box-container {
  display: block;
   padding: 0;
    margin: 0;
}
  .header-container{
    display: flex;
    padding: 0;
    margin: 0;
  }

.box20, .box30, .box40 {
  width: 100%;
  text-align: center;


}

.profpic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0;
  border: 1px solid #66FCF1;
}

.starsmargin {
    margin-left: 40%;
  }

.title{
  width: 100%;
}

}

@media screen and (max-width: 600px) {

  header {
  height: 91vh;
}

 
    #header > a {
      padding:0;
  width: 110px; 
  border-radius: 5% 5% 0 0;
  background-color: #E27D5F;
  position: absolute;
  right: 0px;
  bottom: 0px;
  text-align: center;

}

.myname {
  margin: auto;
  font-size: 2em;
  color: white;
}



    .topnav {
      right: 0;
      background-color: #222222;
      width: 100%;
    }

    .topnav a {
      
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav.responsive {position: sticky;}
    .topnav.responsive .icon {
      float: right;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .sticky {
      top: 0;
    }

    #header > a  {
    width: 60px;  
    border-radius: 5% 5% 0 0;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
  }


  .box-container {
    display: block;
    padding: 0;
    margin: 0;
  }

  .header-container{
    display: flex;
    padding: 0;
    margin: 0;
  }


  .box30, .box20, .box15, .box40 {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .starsmargin {
    margin-left: 10%;
  }


.title{
  width: 100%;
}

p, h4, h5, ul {
  padding: 5px;
}

}



